[SddmGreeterTheme]
Name=5p00ky Terminal
Description=Terminal-dark SDDM theme for Pacey
Author=Spooky
Copyright=(c) 2026, Pacey + Spooky
License=MIT
Type=sddm-theme
Version=1.0
Website=https://5p00ky.dev
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=5p00ky-terminal
Theme-API=2.0
QtVersion=6
