window {
  background-color: rgba(40, 44, 52, 0.96);
  border: 2px solid #61afef;
  border-radius: 4px;
}

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

#outer-box {
  margin: 10px;
}

#text {
  padding: 10px 15px;
  color: #fab387;
}

#entry {
  border-radius: 3px;
}

#entry:selected {
  background-color: #191919;
  border: 1px solid #56b6c2;
}

#entry:selected #text {
  color: #e5c07b;
}
