@import url("../theme/current-accent.css");

window {
    background-color: #0c0c0c;
    border: 2px solid @accent;
    border-radius: 8px;
}

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

#outer-box {
    margin: 10px;
}

#text {
    padding: 10px 15px;
    color: #a0a0a0;
}

#entry {
    border-radius: 6px;
}

#entry:selected {
    background-color: @accent;
}

#entry:selected #text {
    color: #ffffff;
}
